<div class="chart">
  <div class="chart-container">
    <div class="chart-items">
      <div class="chart-item">
        <h3>Hourly Sales</h3>
        <div class="mychart" style="width: 15rem; height: 15rem ;">
          <canvas  id="radarChart"></canvas>
        </div>
      </div>
      <div class="chart-item">
        <h3>Sales by Station</h3>
        <div class="items-bar">
          <img src="assets/images/header/gas-station.png" alt="">
          <span class="name">
            Station Name
          </span>
          <div class="number">
            <span class="num" [countUp]="62721">62,721</span>
            <span>m <sup>3</sup> </span>
          </div>
        </div>
        <div class="bar">
          <span></span>
        </div>
      </div>
      <div class="chart-item">
        <div class="items-bar">
          <img src="assets/images/header/gas-station.png" alt="">
          <span class="name">
            Station Name
          </span>
          <div class="number">
            <span class="num" [countUp]="62721">62,721</span>
            <span>m <sup>3</sup> </span>
          </div>
        </div>
        <div class="bar">
          <span></span>
        </div>
      </div>
      <div class="chart-item nm">
        <div class="items-bar">
          <img src="assets/images/header/gas-station.png" alt="">
          <span class="name">
            Station Name
          </span>
          <div class="number">
            <span class="num">NM</span>
          </div>
        </div>
        <div class="bar">
        </div>
      </div>
    </div>
  </div>
</div>
