<nav class="navbar">
  <div class="container-navbar">
    <div class="items">
      <div class="item item-top">
        <img class="nav-icon" src="assets/images/navbar-icon/PMS.png" alt="">
      </div>
      <div class="item item-cinter">
        <ul >
          <li *ngFor="let imgItem of imgItems ; let i = index">
            <img class="nav-icon" src="{{imgItem.imageUrl}}" alt="name">
          </li>
        </ul>
      </div>
      <div class="item item-bottom">
        <img class="nav-icon" src="assets/images/navbar-icon/logout.png" alt="">
      </div>
    </div>
  </div>
</nav>


<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  width="36.622"
  height="35.597"
  viewBox="0 0 36.622 35.597"
  class="two"
>
  <defs>
  </defs>
  <g transform="translate(2.013 1.5)">
    <path
      class="a"
      d="M19.3,3,3,11.149,19.3,19.3l16.3-8.149Z"
      transform="translate(-3 -3)"
    />
    <path
      class="a"
      d="M3,25.5l16.3,8.149L35.6,25.5"
      transform="translate(-3 -1.052)"
    />
    <path
      class="a"
      d="M3,18l16.3,8.149L35.6,18"
      transform="translate(-3 -1.701)"
    />
  </g>
</svg>
 -->



