.navbar{
  background-color: var(--main-color);
  width: 70px;
  height: 100vh;
  text-align: center;
  border-radius: 0 25px 25px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  position: fixed;
}
.items{
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-rows: 15% 65% 20%;
}
.nav-icon{
  width: 2.7rem;
  cursor: pointer;
}
ul {
  display: grid;
}
ul li {
  padding: 10px 0;
  transition: .3s;
}
ul li:hover , li.active {
  background-color: rgba(255, 255, 255, 0.384);
}
ul li .nav-icon{
  width: 1.7rem;

}
.item-bottom .nav-icon{
  width: 2rem;

}


.one .a {
  fill: none;
  stroke: #a31818;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}
.two .a {
  fill: none;
  stroke: red; /* Change the stroke color here */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}
