<nav class="navbar">
  <div class="container-navbar">
    <div class="items">
      <div class="item item-top">
        <img class="nav-icon" src="assets/images/navbar-icon/PMS.png" alt=""  routerLink="/component">
      </div>
      <div class="item item-center">
        <ul>
          <li *ngFor="let imgItem of imgItems; let i = index"
              [routerLink]="[imgItem.name]"
              routerLinkActive="active"
              >
            <img class="nav-icon" [src]="imgItem.imageUrl" [alt]="imgItem.name">
          </li>
        </ul>
      </div>
      <div class="item item-bottom">
        <img class="nav-icon" src="assets/images/navbar-icon/logout.png" alt="">
      </div>
    </div>
  </div>
</nav>

