.days {
  width: 19rem;

}
.days .items{
  background-color: var(--back-color);
  display: grid;
  grid-auto-flow: column;
  border-radius: 50px;
  height: 25px;
  justify-items: center;
}
.days .items .item{
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  display: grid;
  align-content: center;
  cursor: pointer;
  font-size: 11px;
  color: rgb(128, 128, 128);
}

.days .items .item.active {
  background: var(--main-color);
  color: white;
  transition: .3s;
  font-weight: 500;
}
.days .items .item.active  span {
  color: white;
  
}
