
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  --main-color: #FF7F5C;
  --main-color-sec: #F4DBD4;
  --back-color: #F9F5F3;
  --secondary-color: #6c757d;
  --font-color: #3D5161;
  --rete-up: #00CBC0;

}

.container-navbar{
  height: 100%;
}
body{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: #F9F5F3;
}
ul {
  list-style: none;
  padding: 0;

}
.content{
  position: relative;
}
.start-date{
  color: black;
  font-weight: 500;
}
.mat-label{
  color: black;
}
.app-content{
  display: grid;
  /* grid-template-columns: 71% 29%; */
}
.app-content .app-item{
  margin-left: 150px;
}
.app-content > .app-items{
  width: 100%;
}
.app-content > .item_chart{
  display: grid;
  justify-items: center;
}




::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}


















/* html .mat-mdc-form-field.mat-accent {
  --mat-select-panel-background-color: white;
  --mat-select-enabled-trigger-text-color: rgba(0, 0, 0, 0.87);
  --mat-select-disabled-trigger-text-color: rgba(0, 0, 0, 0.38);
  --mat-select-placeholder-text-color: rgba(0, 0, 0, 0.6);
  --mat-select-enabled-arrow-color: rgba(0, 0, 0, 0.54);
  --mat-select-disabled-arrow-color: rgba(0, 0, 0, 0.38);
  --mat-select-focused-arrow-color:  var( --main-color);
  --mat-select-invalid-arrow-color:  var( --main-color);
}
.mdc-filled-text-field-focus-label-text-color{
  color:  red;
}
.mat-mdc-form-field.mat-accent {
  --mdc-filled-text-field-caret-color:  var( --main-color);
  --mdc-filled-text-field-focus-active-indicator-color:  var( --main-color);
  --mdc-filled-text-field-focus-label-text-color:  var( --main-color);
  --mdc-outlined-text-field-caret-color: var( --main-color);
  --mdc-outlined-text-field-focus-outline-color:  var( --main-color);
  --mdc-outlined-text-field-focus-label-text-color:  var( --main-color);
}
.mdc-text-field--filled {
  --mdc-filled-text-field-active-indicator-height: 2px !important;
  --mdc-filled-text-field-focus-active-indicator-height: 2px;
  --mdc-filled-text-field-container-shape: 4px;
  border-top-left-radius: var(--mdc-filled-text-field-container-shape);
  border-top-right-radius: var(--mdc-filled-text-field-container-shape);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

.mdc-text-field {
  border-top-left-radius: 4px;
  border-top-left-radius: var(--mdc-shape-small, 4px);
  border-top-right-radius: 4px;
  border-top-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-flex;
  align-items: baseline;
  padding: 0 20px !important;
  padding-left: 0 !important;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  will-change: opacity,transform,color;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
  font-size: 10px !important;
}

.mat-label[_ngcontent-ng-c4144423777]  {
  font-size: 11px !important;
  color:var(  --secondary-color) ;
}
.start-end{
  color: black;
}
.mat-mdc-icon-button svg{
  width: 18px !important;
}

element.style {
}
.mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 0;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 0px;
}








